@import "../../main.scss";

.destination-page {
  @include for-phone-only {
    padding: 1rem;
  }
  max-width: 900px;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;

  &__subheading {
    max-width: 500px;
    margin-top: 1rem;
  }

  &__time {
    font-family: "VT323", monospace;
    font-size: 2rem;
    margin: 2rem 0;
  }

  &__tiles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__button {
    @include for-phone-only {
      width: 100%;
    }
    width: 250px;
    height: 40px;
    border-radius: 0;
    background-color: white;
    border: 2px solid black;
    font-family: "Orbitron", monospace;

    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}
