.destination-tile {
  margin-bottom: 1rem;

  &__heading {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0.5rem;
  }

  &__error-message {
    color: red;
    font-size: 0.75rem;
    font-family: monospace;
  }
}
